.button
    background-color: red
    border: none
    padding: 10px
    font-size:25px
    color: white
    border-radius: 4px
    box-shadows: black 10px 10px 
    cursor: pointer
    transition: .4s
    &:hover
        padding: 20px
        background-color: black
